{
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "no-unused-vars": 1,
    "no-nested-ternary": 1,
    "semi": 0,
    "block-scoped-var": 0,
    "padded-blocks": 0
  },
  "plugins": [
    "react"
  ]
}
